<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAEzDdHbGPBI_hDEE-dIvFuGh0NoPKR4JM"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pet_Finder_App"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>

        <activity android:name=".HomepageActivity"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity android:name=".MapActivity"
            android:parentActivityName=".RescueCategoryActivity"
            >
        </activity>
        <activity android:name=".SearchingLostPetActivity"
            android:parentActivityName=".HomepageActivity"
            >
        </activity>
        <activity android:name=".ShowPassword"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".AdoptingPetActivity"
            android:parentActivityName=".HomepageActivity"
            >
        </activity>
        <activity android:name=".FillInforToAdoptActivity"
            android:parentActivityName=".AdoptingPetDetailActivity"
            >

        </activity>
        <activity android:name=".FillInforAboutLostPet"
            android:parentActivityName=".SearchingLostPetActivity"
            >
        </activity>

        <activity android:name=".RescueCategoryActivity"
            android:parentActivityName=".HomepageActivity"
            >
        </activity>

        <activity android:name=".FilterMissingPet"
            android:parentActivityName=".SearchingLostPetActivity"
            >
        </activity>

        <activity android:name=".FilterAdopt"
            android:parentActivityName=".AdoptingPetActivity"
            >
        </activity>

        <activity android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            >
        </activity>
        <activity android:name=".FavoritePetActivity"
            android:parentActivityName=".SearchingLostPetActivity"
            >
        </activity>
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".HomepageActivity"
            >
        </activity>
        <activity android:name=".Splash1Activity"
            android:parentActivityName=".LoginActivity"
            >
        </activity>
        <activity android:name=".Splash2Activity"
            android:parentActivityName=".Splash1Activity"
            >
        </activity>
        <activity android:name=".Splash3Activity"
            android:parentActivityName=".Splash2Activity"
            >
        </activity>
        <activity android:name=".NotificationActivity"
            >
        </activity>
        <activity android:name=".PetDetailActivity"
            android:parentActivityName=".SearchingLostPetActivity"
            >
        </activity>
        <activity android:name=".DetailRequetAdoptActivity"
            android:parentActivityName=".LoginActivity"
            >
        </activity>

        <activity android:name=".MyShopActivity"
            android:parentActivityName=".ProfileActivity"
            >
        </activity>
        <activity android:name=".MyPetActivity"
            android:parentActivityName=".MyShopActivity"
            >
        </activity>
        <activity android:name=".AddingPetActivity"
            android:parentActivityName=".MyPetActivity"
            >
        </activity>
        <activity android:name=".AdoptingPetDetailActivity"
            android:parentActivityName=".AddingPetActivity"
            >
        </activity>
        <activity android:name=".SuccessAddingActivity"
            android:parentActivityName=".AddingPetActivity"
            >
        </activity>
        <activity android:name=".AdoptStatusActivity">
                  </activity>

        <activity android:name=".HistoryAdoptActivity"
            android:parentActivityName=".MyShopActivity"
            >
        </activity>

        <activity android:name=".MissingAnimalsPostActivity"
            android:parentActivityName=".ProfileActivity"
            >
        </activity>
        <activity android:name=".AccountSettingActivity"
            android:parentActivityName=".ProfileActivity"
            >
        </activity>
        <activity android:name=".UserAccountActivity"
            android:parentActivityName=".AccountSettingActivity"
            >
        </activity>
        <activity android:name=".UserNotificationActivity"
            android:parentActivityName=".AccountSettingActivity"
            >
        </activity>
        <activity android:name=".UserPrivacyActivity"
            android:parentActivityName=".AccountSettingActivity"
            >
        </activity>
        <activity android:name=".UserSecurityActivity"
            android:parentActivityName=".AccountSettingActivity"
            >
        </activity>
        <activity android:name=".UserChangePasswordActivity"
            android:parentActivityName=".UserSecurityActivity"
            >
        </activity>
        <activity android:name=".UserChangeEmailActivity"
            android:parentActivityName=".UserSecurityActivity"
            >
        </activity>
        <activity android:name=".RescueDetailActivity"
            android:parentActivityName=".RescueCategoryActivity"
            >
        </activity>
        <activity android:name=".HistoryAdoptDetailActivity"
            android:parentActivityName=".HistoryAdoptActivity"
            >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>